MONGODB_URI=mongodb://127.0.0.1:27017/reporte-tecnico
JWT_SECRET=change-this-secret
PORT=4000
SEED_USERNAME=admin
SEED_PASSWORD=Admin123!
SEED_DISPLAY_NAME=Ing. Demo Tecnico
SEED_EMPLOYEE_NUMBER=IDS-001
